{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Cadastro{% endblock %}
{% block body %}
  <section name="formulario">

    <form class="form-horizontal" action="" method="post" role="form">
      {{ form.hidden_tag() }}
      {{ wtf.form_errors(form, hiddens="only") }}
      <br>
      <div class="form-group">
        <label for="tarefa" class="col-sm-2 control-label">Tarefa</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="tarefa" name="tarefa" required="" placeholder="Tarefa">
        </div>
      </div>

      <div class="form-group">
          <label for="detalhe" class="col-sm-2 control-label">Detalhe</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="detalhe" name="detalhe" required="" placeholder="Detalhe" rows="3"></textarea>
        </div>
      </div>

      <div class="form-group">
            <label for="categoria" class="col-sm-2 control-label">Categoria</label>
        <div class="col-sm-10">
         <label class="radio-inline">
         <input type="radio" name="categoria" id="categoria-0" value="1"><span class="label label-primary"> Azul </span>
         </label>
         <label class="radio-inline">
         <input type="radio" name="categoria" id="categoria-1" value="2"><span class="label label-success"> Verde </span>
         </label>
         <label class="radio-inline">
         <input type="radio" name="categoria" id="categoria-2" value="3"><span class="label label-info"> Água </span>
         </label>
         <label class="radio-inline">
         <input type="radio" name="categoria" id="categoria-3" value="4"><span class="label label-warning"> Amarela </span>
         </label>
         <label class="radio-inline">
         <input type="radio" name="categoria" id="categoria-4" value="5"><span class="label label-danger"> Vermelha </span>
         </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Incluir</button>
        </div>
      </div>
    </form>
  </section>
  
  <br>

  <ul class="list-group">
    <section class="todos">
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="heading1">
		      <h4 class="panel-title">
		        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collaose1" aria-expanded="true" aria-controls="collaose1">
		            Tarefa 1
		        </a>
		      </h4>
		    </div>
		    <div id="collaose1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
		      <div class="panel-body">
		            <div class="input-group">
		                <input type="text" class="form-control" aria-label="...">
		                <div class="input-group-btn">
		                    <button type="button" class="btn btn-default">Alterar </button>
		                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></button>
		                    <ul class="dropdown-menu dropdown-menu-right">
		                        <li><a href="#">Concluir</a></li>
		                        <li><a href="#">Abrir</a></li>
		                        <li role="separator" class="divider"></li>
		                        <li><a href="#">Excluir</a></li>
		                    </ul>
		                </div>
		            </div>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-primary">
		    <div class="panel-heading" role="tab" id="heading2">
		      <h4 class="panel-title">
		        <a class="lista-todo collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
		            Tarefa 2
		        </a>
		      </h4>
		    </div>
		    <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
		      <div class="panel-body">
		            <div class="input-group">
		                <input type="text" class="form-control" aria-label="...">
		                <div class="input-group-btn">
		                    <button type="button" class="btn btn-default">Alterar </button>
		                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></button>
		                    <ul class="dropdown-menu dropdown-menu-right">
		                        <li><a href="#">Concluir</a></li>
		                        <li><a href="#">Abrir</a></li>
		                        <li role="separator" class="divider"></li>
		                        <li><a href="#">Excluir</a></li>
		                    </ul>
		                </div>
		            </div>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-success">
		    <div class="panel-heading" role="tab" id="heading3">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
		            Tarefa 3
		        </a>
		      </h4>
		    </div>
		    <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
		      <div class="panel-body">
		            <div class="input-group">
		                <input type="text" class="form-control" aria-label="...">
		                <div class="input-group-btn">
		                    <button type="button" class="btn btn-default">Alterar </button>
		                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></button>
		                    <ul class="dropdown-menu dropdown-menu-right">
		                        <li><a href="#">Concluir</a></li>
		                        <li><a href="#">Abrir</a></li>
		                        <li role="separator" class="divider"></li>
		                        <li><a href="#">Excluir</a></li>
		                    </ul>
		                </div>
		            </div>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-info">
		    <div class="panel-heading" role="tab" id="heading3">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse3">
		            Tarefa 4
		        </a>
		      </h4>
		    </div>
		    <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
		      <div class="panel-body">
		            <div class="input-group">
		                <input type="text" class="form-control" aria-label="...">
		                <div class="input-group-btn">
		                    <button type="button" class="btn btn-default">Alterar </button>
		                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></button>
		                    <ul class="dropdown-menu dropdown-menu-right">
		                        <li><a href="#">Concluir</a></li>
		                        <li><a href="#">Abrir</a></li>
		                        <li role="separator" class="divider"></li>
		                        <li><a href="#">Excluir</a></li>
		                    </ul>
		                </div>
		            </div>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-warning">
		    <div class="panel-heading" role="tab" id="heading3">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse3">
		            Tarefa 5
		        </a>
		      </h4>
		    </div>
		    <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
		      <div class="panel-body">
		            <div class="input-group">
		                <input type="text" class="form-control" aria-label="...">
		                <div class="input-group-btn">
		                    <button type="button" class="btn btn-default">Alterar </button>
		                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></button>
		                    <ul class="dropdown-menu dropdown-menu-right">
		                        <li><a href="#">Concluir</a></li>
		                        <li><a href="#">Abrir</a></li>
		                        <li role="separator" class="divider"></li>
		                        <li><a href="#">Excluir</a></li>
		                    </ul>
		                </div>
		            </div>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-danger">
		    <div class="panel-heading" role="tab" id="heading3">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse3">
		            Tarefa 6
		        </a>
		      </h4>
		    </div>
		    <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
		      <div class="panel-body">
		            <div class="input-group">
		                <input type="text" class="form-control" aria-label="...">
		                <div class="input-group-btn">
		                    <button type="button" class="btn btn-default">Alterar </button>
		                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></button>
		                    <ul class="dropdown-menu dropdown-menu-right">
		                        <li><a href="#">Concluir</a></li>
		                        <li><a href="#">Abrir</a></li>
		                        <li role="separator" class="divider"></li>
		                        <li><a href="#">Excluir</a></li>
		                    </ul>
		                </div>
		            </div>
		      </div>
		    </div>
		  </div>
		</div>
    </section>
  </ul>
{% endblock %}