<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="ToDo List">
        <meta name="keywords" content="TODO,List,Python,Flask,MicroFrameword">
        <meta name="author" content="Daniel Galleni">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Erro 403 | Lista de Tarefas</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/404.css') }}">
    </head>
    <body>
        <div class="wrapper row2">
            <div id="container" class="clear">
                <section id="fof" class="clear">
                    <div class="hgroup clear">
                        <h1>403</h1>
                        <h2>Erro!<span>Acesso proibido</span></h2>
                    </div>
                    <p>Você não possui provilégio o suficiente para acessar esta página.</p>
                    <p><a href="javascript:history.go(-1)">&laquo; Voltar</a> / <a href="{{ url_for('home.homepage') }}">Ir para página principal &raquo;</a></p>
                </section>
            </div>
        </div>
    </body>
</html>