{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block body %}
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/404.css') }}">
    <div class="wrapper row2">
      <div id="container" class="clear">
        <section id="fof" class="clear">
        <div class="hgroup clear">
          <h1>404</h1>
          <h2>Erro!<span>Página não encontrada</span></h2>
        </div>
      </section>
      <div class="center">
        <p>Por alguma razão a página que você solicitou não pôde ser encontrada em nosso servidor.</p>
        <p><a href="javascript:history.go(-1)">&laquo; Voltar</a> / <a href="{{ url_for('home.homepage') }}">Ir para página principal &raquo;</a></p>
      </div>
    </div>
  </div>
{% endblock %}