<section class="panel-footer">
                            <p>© Todos os direitos são reservados!</p>
                            <p>Desenvolvido por <strong>@danielgalleni</strong></p>
                        </section>

                    </div>
                </div>
            </div>
        </div>

        <script src="{{ url_for('static', filename='assets/jquery/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
    </body>
</html>