<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="ToDo List">
        <meta name="keywords" content="TODO,List,Python,Flask,MicroFrameword">
        <meta name="author" content="Daniel Galleni">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="shortcut icon" href="caminhodoarquivo/favicon.ico" />
        <title>ToDo List</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/todo.css') }}">
    </head>
<body>